
@media (max-width: 768px) {
    #kc-header {
        text-align: center;
    }

    #kc-header-wrapper {
        padding: 0 0 0 0 ;
    }


    body .login-pf-page .card-pf {
        margin-left: 10px;
        margin-right: 10px;
        border: solid #d00102 2px;

    }

    #kc-info-wrapper {
        width: 90%;
        text-align: center;
    }

    #kc-info {
        display: flex;
        justify-content: center;
    }
}

body.kcBodyClass {
    background-color: black;
    background-image: none;
    color: white;
}

.kcLoginClass {
    background-color: black;
    background-image: none;
    color: white;
    padding-bottom: 10px;
}


.kcFormCardClass {
    border: solid #d00102 2px;
    background-color: black;
    color: white;
}

.kcButtonPrimaryClass:hover {
    background-color: #d00102;
    color: black;
}

#kc-registration {
    color: white;
}

#kc-info-wrapper  {
    background-color: black;
    color: #D3D3D3;

}
body .login-pf-page .card-pf p {
    color: #D3D3D3;
}

.kcButtonPrimaryClass {
        background: black none;
        border: solid #d00102 2px;
        width: 100%;
        height: 40px;
        color: white;
        font-size: large;
}

.kcHyperLinkBox {
    background: black none;
    width: 100%;
    height: 40px;
    color: white;
    font-size: large;
}

.kcHyperLinkBoxContent:hover {
    background: #d00102;
    color: black;
}

.kcHyperLinkBoxContent {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid #d00102 2px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    p {
        margin: 0;
    }
}

#kc-terms-text {
    font-size: large;
}
#kc-decline {
    margin-top: 4px;
    background: #d00102;
    border: solid #d00102 2px;
    width: 100%;
    height: 40px;
    color: white;
    font-size: large;

}

#kc-decline:hover {
    color: black;
}

#kc-accept {
    background: #4B9E39;
    border: solid #4B9E39 2px;
}

